<header>
    <div id="page-logo">
      <a href="/">Szopixa 2022</a>
    </div>
    <nav>
      <ul>
        <li><a href="/places">Places</a></li>
        <li><a href="/participants">Participants</a></li>
      </ul>
    </nav>
</header>