<div id="participant-container">
    <h2><%= person.personsname %> <%= person.surname %></h2>
    <hr>
    <p>Favorite beverage is: <%= person.beverage_name %></p>
    <p>Favorite food is: <%= person.food_name %></p>
</div>