<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/participants.css" />
    <title>Participants</title>
</head>
<body>
    <%- include('includes/header')  %>
    <main>
        <h1>Participants that you will meet!</h1>
        <div id="participants-container">
            <% if (!participants || participants.length === 0) { %> 
                <div id="participant-container">
                    <h2>Niestety nie posiadamy jeszcze żadnych uczestników :C</h2>
                </div>
            <% } else { %> 
                <% for (const person of participants) { %> 
                    <%- include('includes/participant', {person: person}) %> 
                <% } %>
            <% } %>
        </div>

    </main>
    <%- include('includes/footer')  %>
</body>
</html>