<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/places.css" />
    <title>SZOPIXA 2022</title>
  </head>
  <body>
    <%- include('includes/header')  %>
    <main>
      <ul>
        <li>
          <img src="/images/places/Huta_Mińska.jpg" alt="Wieś - Huta Mińska" />
          <div class="item-content">
            <div>
              <h2>Huta Mińska</h2>
              <p>
                Village that is my hometown. Quiet and peacfull nature of the Village
                will provide us with a fairy-tale atmosphere
              </p>
            </div>
            <div class="actions">
              <a href="https://pl.wikipedia.org/wiki/Huta_Mi%C5%84ska"
                >More information &#x2192</a
              >
            </div>
          </div>
        </li>
        <li>
          <img src="/images/places/gliniak.jfif" alt="Wieś - Gliniak" />
          <div class="item-content">
            <div>
              <h2>Gliniak</h2>
              <p>
                A place also known as the heart of Masovia.
                It is the streets of this village that we will stroll through at sunrise.
              </p>
            </div>
            <div class="actions">
              <a href="https://pl.wikipedia.org/wiki/Gliniak"
                >More information &#x2192</a
              >
            </div>
          </div>
        </li>
        <li>
          <img
            src="/images/places/minsk_maz.jpg"
            alt="Miasto - Mińsk Mazowiecki"
          />
          <div class="item-content">
            <div>
              <h2>Mińsk Mazowiecki</h2>
              <p>
                The city where there is a railway station and many interesting
                attractions which number is hard to count
              </p>
            </div>
            <div class="actions">
              <a href="https://pl.wikipedia.org/wiki/Mi%C5%84sk_Mazowiecki"
                >More information &#x2192</a
              >
            </div>
          </div>
        </li>
        <li>
          <img
            src="/images/places/Warszawa.png"
            alt="Miasto - Mińsk Mazowiecki"
          />
          <div class="item-content">
            <div>
              <h2>Warszawa</h2>
              <p>
                The city that we will visit after arriving from Krakow. 
                Warsaw is an important scientific, cultural, political 
                and economic center. Here are the headquarters of, among others 
                The President of the Republic of Poland, the Sejm and Senate, the
                Council of Ministers and the National Bank of Poland. Warsaw is also 
                the seat of the Frontex agency, responsible for the security of the
                European Union's external borders, and the Office for
                Democratic Institutions and Human Rights (ODIHR), an OSCE agenda. 
              </p>
            </div>
            <div class="actions">
              <a href="https://pl.wikipedia.org/wiki/Warszawa"
                >More information &#x2192</a
              >
            </div>
          </div>
        </li>
      </ul>
    </main>
    <%- include('includes/footer')  %>
  </body>
</html>
